# 复制为项目根目录下的 .env 后填写（.env 已在 .gitignore 中，勿提交授权码）

# "用户反馈功能"所需的接收邮箱设置
# https://wx.mail.qq.com/list/readtemplate?name=app_intro.html#/agreement/authorizationCode
PORTAL_SMTP_HOST=smtp.qq.com
PORTAL_SMTP_PORT=587
PORTAL_SMTP_USE_TLS=true
PORTAL_SMTP_FROM=1825937473@qq.com
PORTAL_SMTP_USERNAME=1825937473@qq.com
PORTAL_SMTP_PASSWORD=在此填写QQ邮箱授权码

PORTAL_TICKET_EMAIL_TO=1825937473@qq.com
PORTAL_FEATURE_REQUEST_EMAIL_TO=1825937473@qq.com
