Flask==2.0.3
Flask_JWT_Extended==4.3.1
pyjwt==2.7.0
Flask_SQLAlchemy==2.5.1
WTForms==3.0.1
tablib==3.2.0
spectree==0.7.6
SQLAlchemy==1.4.46
pydantic==1.9.2
pillow==9.3.0
flask-cors==3.0.10
gunicorn==20.1.0
gevent==21.12.0
flask-socketio==5.1.1
blinker==1.4
python-dotenv==0.19.2
gevent-websocket==0.10.1
Werkzeug==2.1.2

celery==5.4.0
gmssl==3.2.2
pymysql==1.0.2
pandas==2.0.3
redis==5.2.1
transformers==4.34.1
hanlp==2.1.0b57
openpyxl==3.1.5
xlrd>=2.0.1
gensim
faker
exrex
psutil
psycopg2
psycopg[binary]>=3.1
python-docx>=1.1.0
docxcompose>=1.4.0
