fastapi
uvicorn[standard]
python-multipart
pydantic
pydantic-settings
python-dotenv
SQLAlchemy
psycopg[binary]
PyYAML
httpx
requests
python-docx
docxcompose
reportlab>=4.2.0
svglib>=1.5.1
json_repair
lxml
PyMuPDF
pdf2docx
opencv-python-headless<4.12
cryptography
openpyxl
